ul {
  list-style: none;
}

.eventSearch {
  display: flex;
  font-size: 14px;
  margin-left: 4%;
}

.eventSearch input{
  margin: 1.5% 5% 5% 5%;
  padding: 1%;
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #FF7557;
  background-color: #F9F9F9;
}

.createEventBtn {
    background-color: #FF7557;
    border: #FF7557;
    border-radius: 5px;
    color: #F5F5F5;
    font-size: 14px;
}

.createEventBtn p{
  font-size: 22px;
  margin-top: 5.5%;
}

.eventsBtn {
  margin-top: 1.4%;
  margin-left: 2.5%;
}

.event-box {
  display: flex;
  border: 1px solid #FF7557;; /* You can adjust the border style as needed */
  border-width: 0px 0px 1px 0px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* You can adjust the box-shadow as needed */
}

.contentInside {
  width: 400px;
  text-align: left;
  margin-left: 5%;
}

.event-box img {
  width: 250px;
  height: 150px;
  border-radius: 15px;
}

.textRight {
  margin-top: -0.5%;
}

strong {
  font-size: 22px;
  color: #FF7557;
}

event-box p{
  font-size: 17px;
  color: black;
}