.eventPageCategory img {
  width: 100px;
  height: 100px;
}

.eventPageCategory {
  display: flex;
 justify-content:space-evenly;
 margin: 5% 2%;
}

.card {
  height: 200px;
  width: 295px;
  background-color: #FF7557;
  border-radius: 15px;
  color: #F5F5F5;
  font-size: 12px;
}

.card h1{
  margin-top: 15%;
}