* {
  box-sizing: border-box;
}

.navbarContainer {
  display: flex;
  justify-content:space-evenly;
  border: 5px solid #FF7557;
  background-color: #F9F9F9;
  color: #505050;
  font-family: inter;
}

.header {
  display: flex;
  margin-left: 80px;
}

.footerBox {
  display:flex;
  border: 5px solid grey;
  justify-content:space-evenly;
  padding: 5px;

}
.footerBox img {
  width: 50px;
  height: 50px;
}