/*  font-size: 14px; */

.mainContainer {
  font-style: italic;
  font-size: 11px;
}

.ProfileTitle {
  font-size: 44px;
  font-family: 'Bungee', cursive;
font-family: 'Nunito Sans', sans-serif;
  color: #FF7557;
  padding: 10px 20px;
}



.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*align-items: flex-start;
  */
}

.left-column,
.right-column {
  flex: 1;
  padding: 20px;
  width: auto;
  /* Add any other styling you need */
}

.top {
  display: flex;
  justify-content: center;
  
}

.btn,
.createEventBtn {
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 200px;
  height: 50px;
  background-color: #FF7557;
  border: #FF7557;
  border-radius: 10px;
  color: #F5F5F5;
  font-size: 22px;
}

button:hover {
  box-shadow: 2px 2px 4px #505050;
  background-color: #0C6496;
}


.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.ProfileEdits {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 80px;
  
}



.ProfileEdits h1 {
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
  
}

.ProfileEdits textarea {
  width: 80%;
  height: 50px;
  border-radius: 10px;
  margin-top: 2%;
  resize: none;
  background-color: #EFEFEF;
  /* Set the background color to grey */
  padding: 8px;
  /* Add some padding for better appearance */
  color: #666666;
  /* Set the text color */
  border: #666666;
  font-size: 20px;
  color: black;
  
}


.SaveChangesContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-right: 140px;
}

.SaveChangesBtn {
  background-color: #FF7557;
  border: #FF7557;
  border-radius: 10px;
  color: #F5F5F5;
  font-size: 22px;
  padding: 10px 20px;
  cursor: pointer;
}

.SaveChangesBtn:hover {
  box-shadow: 2px 2px 4px #505050;
  background-color: #0C6496;
}





.ActivityGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 10px;
  margin: 0 20px 0 80px;
}

.ActivityBtn {
  background-color: #EFEFEF;
  border: none;
  border-radius: 10px;
  color: #666666;
  font-size: 16px;
  padding: 8px 12px;
  margin: 5px;
  cursor: not-allowed;
  /* Add cursor style to indicate it's not clickable */
  width: 120px;
  /* Adjust the width as needed */
  text-align: center;
  /* Center the text horizontally */
}

/* Apply alternating border colors and text colors */
.ActivityBtn:nth-child(odd) {
  border: 2px solid black;
  width: 250px;
  font-size: 20px;
}

.ActivityBtn:nth-child(even) {
  border: 2px solid orange;
  color: orange;
  /* Set text color to orange for even buttons */
  width: 250px;
    font-size: 20px;
}